<header role="banner">
  <%= link_to root_path, id: "brand" do %>
    <%= image_tag "rawnet_admin/logo.png" %>
  <% end %>
  <%= render "main_navigation" %>

  <div id="subNav">
    <%= render "sub_navigation" %>
    <%= render "footer_navigation" %>
  </div>
</header>
