<h2>Manage <%= resource_class.to_s.titleize.pluralize %></h2>

<%= render 'add_button' %>

<ul class="nav nav-tabs">
  <li><%= active_link_to 'All', [:admin, resource_class], :active => no_scopes_applied?, wrap_tag: :li  %></li>
  <%= render 'tabs' %>
</ul>

<table class='table table-striped' data-behaviour="ordering">
  <thead>
    <tr>
      <%= render 'table_header' %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |item| %>
      <tr data-url="<%= "/admin/#{resource_class.to_s.underscore.pluralize}/#{item.id}" %>" data-model="<%= resource_class.to_s.underscore %>">
        <%= render 'table_item', item: item %>
        <td>
          <div class="btn-group pull-right">
            <%= link_to "#", class: 'btn btn-default', data: {toggle: "dropdown"} do %>
              Actions <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <%= render 'menu_options', item: item %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate collection, theme: 'twitter-bootstrap-3' %>
